.login-wrapper {
    padding-top: 1rem;
    padding-left: 1rem;
    color: #fff;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
    margin-top: 1rem;
    max-width: 500px;
    margin-left: 10rem;
  }
.login-wrapper > button {
    display: inline;
    margin-left: 0;
    margin-right: 1.8rem;
    background-color: var(--back-color);
    border: 1px solid #fff;
    padding: 0.4rem;
    width: 80px;
    margin-top: 1rem;
  }
.login-inputWrapper {
    margin: 2rem 0 0 0rem;    
  }
.login-inputWrapper input {
    display: block;
    padding: 0.2rem;
    font-weight: 600;
    width: 90%;
    margin-right: 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
  }
  
  .login-redirectPrompt {
    padding-top: 0.5rem;
  }
  .login-toggleShowPassword {
    position: absolute;
    top: 0.3rem;
    font-size: 0.8rem;
    font-weight: bold;
    right: 3.5rem;
    background-color: #fff;
    color: #000;
  }
  
  @media screen and (min-width: 758px) {
    .login-wrapper {
      margin-top: 1rem;
      max-width: 500px;
      padding: 5rem;
      padding-top: 4rem;
      box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
      margin-left: 35rem;
    }
  
    .login-wrapper > button {
        display: inline;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }
  
    .login-inputWrapper input {
       width: 260px;
    }
    .login-toggleShowPassword {
      left: 220px;
      max-width: 1rem;
    }
  }