.btn-icons{
    outline: none;
    border: none;
    cursor: pointer;
}
.icon{
    margin-left: 2rem;
    font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
    [data-tooltip]:before {
      position: absolute;
      content: attr(data-tooltip);
      display: none;
      top: -1.2rem;
      left: 1rem;
      color: #000;
      background-color: #fff;
      padding: 0 0.2rem;
      font-weight: bold;
    }
  
    [data-tooltip]:hover:before {
      display: block;
    }
  }